# Build directories
cmake-build-debug/
cmake-build-release/
build/

# IDE specific
.idea/
.vscode/

# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Files to avoid pushing
original/core/Game_List.txt
original/config.h
original/core/test.txt
original/core/opening-book.txt
masters.txt
output.txt
stockfish.txt

# Compiled files
*.o
*.obj
*.exe

# Binary output
*.out
*.app
*.dll
*.so
*.dylib

# Logs
*.log